<!DocTYPE html>

<html>

 <head>
  <meta charset="UTF-8">
   <title> Web Trends</title>

   <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
   <script src="//code.jquery.com/jquery-1.10.2.js"></script>
   <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
   <link href="script.css" rel="stylesheet">
</head>

</head>

 <body>



 <header > 
   <canvas id = "tCanvas" width = "5000" , height ="100">
   </canvas>
 </header>

<nav id="nav1"> 
   <a href="Register.html">REGISTER</a> |
   <a href="Login.html">LOG IN </a>
</nav>
</br>
<ul class="nav nav-tabs">
    <li><a href="index.html">HTML</a></li>
    <li><a href="html5_t.html">HTML5</a></li>
    <li><a href="css_t.html">CSS</a></li>
    <li><a href="css3_t.html">CSS3</a></li>
    <li><a href="javascript_t.html">JAVASCRIPT</a></li>
    <li><a href="jquery_t.html">JQUERY</a></li>
    <li class="active"> <a href="#">ANGULAR JS</a></li>
    <li><a href="bootstrap_t.html">BOOTSTRAP 3</a></li>
    <li><a href="json_t.html">JSON</a></li>
    <li><a href="ajax_t.html">AJAX</a></li>
 </ul>

<div id="tabs">
  <ul <ul class="nav nav-tabs">
    <li><a href="#tabs-1">Angular JS</a></li>
    <li><a href="#tabs-2">HTML Graphics </a></li>
    <li><a href="#tabs-3">HTML API's </a></li>
  </ul>
  <div id="tabs-1">
    <section>
     <h2> Angular Examples</h2> 
      <article> <h3>Expression</h3>
        <div ng-app="">
            <p>Please enter ur name:</p>
            <p>Name: <input type="text" ng-model="name" value="Arshia"></p>
            <p ng-bind="name"></p>
            <span> My name is : {{ name}}</span>
         </div>

<h3> Angular Objects </h3>
    <div ng-app="" ng-init="person={firstName:'Arshia',lastName:'Sharma', age :'2', gender : 'F'}">
      <p> Name :  {{person.firstName}} </p>
      <p> Age :<span ng-bind="person.age"></span> </p>
      <p> Gender :  {{ person.gender }}</p>
    </div>
<div ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">

<p>The name is <span ng-bind="person.lastName"></span></p>
{{person.lastName}}
</div>

<div ng-app="" ng-init="points=[1,15,19,2,40]">

<p>The points are <span ng-bind="points[2]"></span></p>

</div>

<div ng-app="" ng-init="firstName='John'">

<p>Name: <input type="text" ng-model="firstName"></p>
<p>You wrote: {{ firstName }}</p>

</div>

<div ng-app="" ng-controller="personController">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{fullName()}}

</div>
  </article>
  </section>
  </div>

  <div id="tabs-2">
   <section>
    <h2> Angular Bootstrap</h2><!DOCTYPE html>
<html ng-app="">
<head>
<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body ng-controller="userController">
<div class="container">

<h3>Users</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Edit</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>
        <button class="btn" ng-click="editUser(user.id)">
          <span class="glyphicon glyphicon-pencil"></span>  Edit
        </button>
      </td>
      <td>{{ user.fName }}</td>
      <td>{{ user.lName }}</td>
    </tr>
  </tbody>
</table>

<hr>
<button class="btn btn-success" ng-click="editUser('new')">
<span class="glyphicon glyphicon-user"></span>  Create New User
</button>
<hr>

<h3 ng-show="edit">Create New User:</h3>
<h3 ng-hide="edit">Edit User:</h3>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">First Name:</label>
    <div class="col-sm-10">
    <input type="text" ng-model="fName" ng-disabled="!edit" placeholder="First Name">
    </div>
  </div> 
  <div class="form-group">
    <label class="col-sm-2 control-label">Last Name:</label>
    <div class="col-sm-10">
    <input type="text" ng-model="lName" ng-disabled="!edit" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Password:</label>
    <div class="col-sm-10">
    <input type="password" ng-model="passw1" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Repeat:</label>
    <div class="col-sm-10">
    <input type="password" ng-model="passw2" placeholder="Repeat Password">
    </div>
  </div>
</form>

<hr>
<button class="btn btn-success" ng-disabled="error || incomplete">
<span class="glyphicon glyphicon-save"></span>  Save Changes
</button>
<section>
<h4> Note </h4>
<div ng-app="myNoteApp" ng-controller="myNoteCtrl">

<h2>My Note</h2>

<p><textarea ng-model="message" cols="30" rows="15"></textarea></p>

<p>
<button ng-click="save()">Save</button>
<button ng-click="clear()">Clear</button>
</p>

<p>Number of characters left: <span ng-bind="left()"></span></p>

</div>

</section>


   <footer id="foot1"></footer></div>
   <script src="Main.js">

   </script>
</body>
</html>
