header,h2
{
//background-color : #000080;
text-align : center;
color : white;
border: 1px, solid grey;

}

#boxSh
{   width: 150px;
    height: 50px;
    background-color: lime;
    box-shadow: 10px 10px 5px pink;
}
#accordion
{
font-size: 14px;
}
#ad1
{
background-color : #0000FF;
color :  white;

}

h1 {
   // border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}
table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 90%;
      margin: auto;
  }

#myCarousel
 {
   background-color : lime;

 }



#div4 {
    border: 15px solid transparent;
    width: 250px;
    padding: 10px 20px;
}

#round { 
    -webkit-border-image: url(colorful-berries-border-975445.jpg) 30 30 round; /* Safari 3.1-5 */
    -o-border-image: url(colorful-berries-border-975445.jpg) 30 30 round; /* Opera 11-12.1 */
    border-image: url(colorful-berries-border-975445.jpg) 30 30 round;
}

#stretch {
    -webkit-border-image: url(colorful-berries-border-975445.jpg) 30 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(colorful-berries-border-975445.jpg) 30 30 stretch; /* Opera 11-12.1 */
    border-image: url(colorful-berries-border-975445.jpg) 30 30 stretch;
}

#grad1 {
    height: 200px;
    background: -webkit-linear-gradient(left top, red , blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, red , blue); /* Standard syntax (must be last) */
}

#radgrad {
    height: 150px;
    width: 200px;
    background: -webkit-radial-gradient(red 5%, green 15%, blue 60%); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(red 5%, green 15%, blue 60%); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(red 5%, green 15%, blue 60%); /* For Firefox 3.6 to 15 */
    background: radial-gradient(red 5%, green 15%, blue 60%); /* Standard syntax (must be last) */

}
#div7
 {
width:150px;height:50px;
padding:10px;border:1px solid #aaaaaa;
}

h2
{ background-color : #00CED1;
}

#nav1
{text-align :right;
}

section,article
{
border:1px solid grey;
 margin:5px;margin-bottom:15px;padding:8px;
background-color:white;
}

#can1
{
border : 1px dotted red;
}
#navl
{
 background-color :red;
// font-style: italic ;
 font-weight :bold;
} 
#nav1
{text-align :right;}

#div1
{
background-color :#5F9EA0;
color : red;
}

#foot1
{
background-color : #00FFFF;
font-family : arial;
}
