header,h2
{
background-color : #000080;
text-align : center;
color : white;
border: 1px, solid grey;
background-color : #00CED1;
}

h3{
text-decoration:underline;
}
//for angular color picker 


//Jquery UI

 .toggler { width:700; height: 200px; position: relative; }
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 240px; height: 135px; padding: 0.4em; position: relative; background: #fff; }
    #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
  
// JQUERY PROGRESSBAR

.ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: relative;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
#ang1
{
  width :500px;
  height:100%;
}
.rgb
{
  height:100%;  
  text-align:center;
}
.rgb input
{
  height:100%;
}

#boxSh
{   width: 150px;
    height: 50px;
    background-color: yellow;
    box-shadow: 10px 10px 5px pink;
}



#accordion
{
font-size: 14px;
}
#ad1
{
background-color : #0000FF;
color :  white;

}

h1 {
   // border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}
table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 90%;
      margin: auto;
  }

#myCarousel
 {
   background-color : lime;

 }


#div4 {
    border: 15px solid transparent;
    width: 250px;	
    padding: 10px 20px;
}

#round { 
    -webkit-border-image: url(colorful-berries-border-975445.jpg) 30 30 round; 
    -o-border-image: url(colorful-berries-border-975445.jpg) 30 30 round; 
    border-image: url(colorful-berries-border-975445.jpg) 30 30 round;
}

#stretch {
    -webkit-border-image: url(colorful-berries-border-975445.jpg) 30 30 stretch; 
    -o-border-image: url(colorful-berries-border-975445.jpg) 30 30 stretch; 
    border-image: url(colorful-berries-border-975445.jpg) 30 30 stretch;
}

#grad1 {
    height: 200px;
    background: -webkit-linear-gradient(left top, red , blue); 
    background: -o-linear-gradient(bottom right, red, blue); 
    background: -moz-linear-gradient(bottom right, red, blue);
    background: linear-gradient(to bottom right, red , blue); 
}

#radgrad {
    height: 150px;
    width: 200px;
    background: -webkit-radial-gradient(red 5%, green 15%, blue 60%); 
    background: -o-radial-gradient(red 5%, green 15%, blue 60%); 
    background: -moz-radial-gradient(red 5%, green 15%, blue 60%); 
    background: radial-gradient(red 5%, green 15%, blue 60%); 

}


#div7
 {
width:150px;height:50px;
padding:10px;border:1px solid black;
}



#nav1
{text-align :right;
}

section,article
{
border:1px solid grey;
 margin:5px;margin-bottom:15px;padding:8px;
background-color:white;
}

#can1
{
border : 1px dotted red;
}
#navl
{
 background-color :red;
// font-style: italic ;
 font-weight :bold;
} 
#nav1
{text-align :right;}

#div1
{
background-color :#5F9EA0;
color : red;
}

#foot1
{
background-color : #00FFFF;
font-family : arial;
}
