header,h2
{
//background-color : #000080;
text-align : center;
color : white;
border: 1px, solid grey;

}
h2
{ background-color : #00CED1;
}

#nav1
{text-align :right;
}

section,article
{
border:1px solid grey;
 margin:5px;margin-bottom:15px;padding:8px;
background-color:white;
}

#can1
{
border : 1px dotted red;
}
#navl
{
 background-color :red;
// font-style: italic ;
 font-weight :bold;
} 
#nav1
{text-align :right;}

#div1
{
background-color :#5F9EA0;
color : red;
}

#foot1
{
background-color : #00FFFF;
font-family : arial;
}